<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px grid"
  fxLayoutGap.xs="0"
>
  <div fxFlex="50">
    <h1>Pedidos</h1>
  </div>
  <div fxFlex="50" style="text-align: right; margin-top: 15px;">
    <button mat-raised-button color="primary" [routerLink]="['criar']" routerLinkActive="router-link-active" >Novo Pedido Rápido</button>&nbsp;
    <button mat-raised-button color="primary" [routerLink]="['criar']" routerLinkActive="router-link-active" >Novo Pedido Detalhado</button>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="left"
  fxLayoutGap="10px grid"
  fxLayoutGap.xs="0"
>
  <div fxFlex="50">
    <mat-form-field class="w-100">
      <input matInput placeholder="Nome do Cliente" />
    </mat-form-field>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px grid"
  fxLayoutGap.xs="0"
>
  <div fxFlex="100">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.cliente.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="dataCriado">
        <th mat-header-cell *matHeaderCellDef>Criado Em</th>
        <td mat-cell *matCellDef="let element">{{ element.dataCriado }}</td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Por</th>
        <td mat-cell *matCellDef="let element">admin</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          Aguardando Pagamento
        </td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef>Valor Total</th>
        <td mat-cell *matCellDef="let element">{{ element.valorTotal }}</td>
      </ng-container>

      <ng-container matColumnDef="opcoes">
        <th mat-header-cell *matHeaderCellDef>Opções</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon"
              >visibility</mat-icon
            >
          </button>
          <button mat-icon-button (click)="editarPedido(element._id)">
            <mat-icon>edit</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
