<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  class="login-main"
>
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
      <mat-card-content fxLayout="column">
        <h1 class="title">LordControl</h1>

        <mat-form-field>
          <input
            matInput
            placeholder="Usuário"
            formControlName="username"
            required
          />
        </mat-form-field>
        <span
          *ngIf="authForm.controls.username.hasError('required') && submitted"
          class="hasError"
        >
          Usuário é obrigatório
        </span>

        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Senha"
            formControlName="password"
            required
            [type]="hide ? 'text' : 'password'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
        </mat-form-field>
        <span
          *ngIf="authForm.controls.password.hasError('required') && submitted"
          class="hasError"
        >
          Senha é obrigatório
        </span>
      </mat-card-content>

      <mat-card-actions align="end">
        <button type="submit" mat-raised-button color="primary">Entrar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
